<!DOCTYPE html>
<html lang="en">
<head>
  <title>Covid Home Management</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
  a:hover{
  color: #00CED1;
  text-decoration: none;
  }
  a:link{

  text-decoration: none;
  }
  .ls{
  font-size:30px;
  color:#00CED1;
  }
</style>
<body>
<div class="jumbotron" style="background-color: #00CED1;font-family:georgia">
    <h1>Covid Home Management</h1>

</div>

<div class="container">

  <ul  class='ls' style="list-style-type:disc;">
    <li><a href="/exercise">Exercise </a></li>
    <li ><a href="/foods">Food Habits</a></li>
    <li ><a href="/dds">Do's and Dont's</a></li>
  </ul>
</div>

</body>
</html>
