<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Login Page</title>
    <style>
        div{
    margin-bottom: 0px !important;
    }
    body{
    overflow-x: hidden;
    }
    .vl{
 border-right: 5px solid blue;
 height: 700px;
 position:absolute;
 right:45%;
    }
    .row{
    text-align:center;
    }
    .block{
    font-size:25px;
    width: 75%;
    background-color:#00CED1;
    opacity:0.7;
    color:black;
    border-radius: 4px;
    }
    .block:hover {opacity: 1}


    </style>
</head>

<body>
<div class="jumbotron " style="background-color: #00CED1;font-family:georgia">
    <h1 style="padding:15px;">Covid Beds</h1>
</div>
<marquee behavior="scroll" direction="left" style="text-align:center;font-size:30px;background:yellow;height:50px;margin-top:0px;color:red">Central Helpline Number for corona-virus: - +91-11-23978046</marquee>


<div class="container">
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
<h3></h3>
              <a href="/hospital_login" ><button style="transition: width 2s, height 4s;" class="block" >Login as Health department</button></a><br><br><br>
        <a href="/signup"><button class="block"> Sign Up</button></a><br><br><br>

    <a href='/view'>    <button class="block">Login as Common Man</button></a>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>



</body>
</html>