<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Hospital Login</title>
</head>
<body>
<div class="jumbotron">
<h1 style="color:#6666FF">Login Page</h1>
    </div>
<div class="container">
<form class="form-group" action="/loginhosp" method="POST">
Phone Number: <input type="text" class="form-control" name="phno"><br><br>
Password: <input type="password" class="form-control" name="pass"><br><br>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>
</body>
</html>