<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Redirect Page</title>
</head>
<body>
<div class="container">
    <div class="alert alert-success">
  <strong>Your request has been noted.!</strong>
    </div>
<a href="/bargraph"><button class="btn btn-primary" style="background-color: #00CED1" type="submit">Redirect to Bargraph</button></a>
</div>
</body>
</html>