<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Updated Successfully</title>
</head>
<body>
<div class="container">
    <img class="center" src="static/update.gif">
<div class="alert alert-success">
  <strong>Successfully Updated!</strong>
    </div>
    <a href="/"><button class="btn btn-primary">Go to Home page</button></a>
</div>

</body>
</html>